<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5316507126-393v15hl2lse0ciiooj5a5t8gpskpmhf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5316507126-393v15hl2lse0ciiooj5a5t8gpskpmhf</string>
	<key>API_KEY</key>
	<string>AIzaSyAbsw43Xld2Em3yGqE4v9t957xuW0-oWus</string>
	<key>GCM_SENDER_ID</key>
	<string>5316507126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sfaholding.kmaanalys</string>
	<key>PROJECT_ID</key>
	<string>kalkylanalys</string>
	<key>STORAGE_BUCKET</key>
	<string>kalkylanalys.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5316507126:ios:80e6594baa3b82317c43d7</string>
</dict>
</plist>