<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277948496877-44bugu9lpqm19iorm0c1fpv5cou1iqjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277948496877-44bugu9lpqm19iorm0c1fpv5cou1iqjc</string>
	<key>API_KEY</key>
	<string>AIzaSyAjzjFbAOu-rTjgdqG7nSqAGRxyI127V7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>277948496877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sfaholding.kmaanalys</string>
	<key>PROJECT_ID</key>
	<string>kma-analys-a91b4</string>
	<key>STORAGE_BUCKET</key>
	<string>kma-analys-a91b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277948496877:ios:80bfe760427c81b43b05e4</string>
</dict>
</plist>